<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/garment" method="post">
        <div>
            <label for="name">Nama Garment :</label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label for="location">Location Garment: </label>
            <input type="text" name="location" id="location">
        </div>
        <div>
            <label for="contact">Kontak Garment: </label>
            <input type="number" name="contact" id="contact">
        </div>
        <button type="submit">Submit</button>
    </form>
    <div>
        <a href="/garment">Back</a>
    </div>
</body>
</html>